@import 'src/css/variables.module.css';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link {
  display: block;
  margin: 1rem 0 0 1rem;
  padding: 0;
}

.link svg {
  display: block;
}

@media (--mobile-med) {
  .wrapper {
    justify-content: flex-start;
  }

  .link {
    margin: 1rem 1rem 0 0;
  }
}
