@import 'src/css/variables.module.css';

.navigation {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(4, auto);
  justify-self: end;
  align-self: center;
}

.link {
  color: white;
  align-self: center;
  justify-self: end;
  font-weight: var(--font-med);
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}

.link:hover,
.link:focus,
.link.active {
  outline: 0;
  opacity: 1;
}

.icon {
  display: block;
  max-width: 1.5rem;
  color: white;
}

@media (--mobile-med) {
  .navigation {
    justify-self: center;
  }
}
